body{
    background-color: #f5f0f6;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 50px 1fr;
    width: 98vw;
    height: 100vh;
    grid-template-areas: 
    ". . header . ."
    "nav nav nav nav nav"
    "table table fact fact fact";
  /*   "h2 h2 h3 h3 h3"
    "table table fact fact fact"
    "table table fact fact fact"; */
}

.navbar{
    grid-area: nav;
}

.navbar ul{
    list-style-type: none;
    background-color: #002626;
    padding: 0;
    margin: 0;
    overflow: hidden;
    grid-area: nav;
}

.navbar a{
    color: #ccc;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #001313;
    transition: 0.5s;
}

header{
    grid-area: header;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

h1{
    color: #819382;
}

.navbar li{
    float: left;
}

table{
    border-spacing: 0;
    width: 40%;
    height: 100%;
    margin-left: 5%;
    margin-top:8%;
    grid-area: table;
}

td, th{
    border: 1px solid rgb(57, 42, 42);
}

tbody{
    text-align: center;
}

thead{
    background-color: #386fa4;
    color: rgb(217, 228, 237);
}

.section-tables{
    grid-area: table;
}

h2{
    margin-left: 20%;
}

.facts{
    grid-area: fact;
    font-size: 150%;
    max-width: 100%;
}
h3{
    padding: 5px;
    display: flex;
    justify-content: center;
}
.fakta{
    border: 2px solid #242743;
    border-radius: 4px;
    padding: 6px;
}

.North tbody tr:nth-child(odd){
    background-color: #e0e0f8;
}

.North tbody tr:nth-child(even){
    background-color: #e6d9f0;
}

.South tbody tr:nth-child(odd){
    background-color: #d8e0e9;
}

.South tbody tr:nth-child(even){
    background-color: #c8c7e7;
}

.East tbody tr:nth-child(odd){
    background-color: #c3a9c6;
}

.East tbody tr:nth-child(even){
    background-color: #a989b4;
}

.West tbody tr:nth-child(odd){
    background-color: #e9dbfc;
}

.West tbody tr:nth-child(even){
    background-color: #cbacea;
}